.body-wrapper{
    /* border: 1px solid red; */
       padding: 20px 100px;
       
}
.body-yangiliklar{
    font-family: Exo 2;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 42px;
    color: #353535;
}
.body-top{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.card-wrapper{
    padding: 30px 20px 0 20px;
    margin-bottom: 60px;
}
.body-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}