.navbar-wrapper{
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 100px 0 100px;
}
.nav-group{
 margin-right: 60px;
}
.nav-icon{
    margin-right: 70px;
}
.nav-p{
    margin-right: 35px;
    font-family: Exo 2;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #201F1E;
}
.nav-p:hover{
    color: darkgreen;
    border-bottom: 2px solid darkgreen;
    cursor: pointer;
}
.nav-rightside{
    display: flex;
    margin-left: auto;
    align-items: center;
}
.nav-number{
    font-family: Exo 2;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #666666;
}
.nav-search-icon{
    margin-left: 30px;
    width: 24px;
    height: 24px;
}
.nav-btn{
    width: 133px;
height: 40px;
border: 1px solid #666666;
box-sizing: border-box;
font-family: Exo 2;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #666666;
background-color:  white;
margin-left: 40px;
cursor: pointer;
}